/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode



# Image Files
# Ignore all image files except those in the 'rsx' folder
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg
!public/rsx/*.png
!public/rsx/*.jpg
!public/rsx/*.jpeg
!public/rsx/*.gif
!public/rsx/*.webp
!public/rsx/*.svg
